<!DOCTYPE html>
<html>
<head>
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>错误提示</title>
<style type="text/css">
body,p{
	margin:0;
	padding:0;
}
	body,html{
		background-color: #fff;
		width: 100%;
		height: 100%;
		text-align: center;
	}
		img{
			position: absolute;
			top: 11%;
			left: 50%;
			margin-left: -27.5px;
			width: 55px;
			height: 55px;
		}
		p{
			position: relative;
			top: 27%;
			text-align: center;
			color: #333;
			font-size: 18px;
		}
</style>
</head>
<body>
	<img src="__IMG__/erweima_tips_img_02@2x.png">
	<p>{$msg}</p>
    
</body>
</html>